.detail_movie {
  background-color: white;
  /* display: flex;
  align-items: flex-start; */
  /* justify-content: space-between; */
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  color: #3a3a429d;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.detail_movie img {
  position: relative;
  top:-20px;
  margin: 0 auto;
  max-width: 150px;
  width: 100%;
  margin-right: 30px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.detail_movie .detail_movie_title,
.detail_movie .detail_movie_year {
  margin: 0;
  font-weight: 300;
}

.detail_movie a,
.detail_movie a:hover {
  text-decoration: none;
  color: #2c2c2c;
}

.detail_movie span {
  font-size: 1.3rem;
  text-decoration: none;
  color: #db7093;
}

.detail_movie .detail_movie_title {
  margin-bottom: 5px;
  font-size: 40px;
  color: #2c2c2c;
}

.detail_movie .detail_movie_genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 5px 0px;
}

.detail_movie_genres li,
.detail_movie .detail_movie_year,
.detail_movie_summary {
  margin-right: 10px;
  font-size: 25px;
}

.detail_movie .noTrailer {
    color: darkslategrey;
}